params {
    // inputs
    imgs_dir = null
    img_path = null
    imgs_and_masks_tsv = null

    // fastLBP threads
    ncpus = 15
    cache_lbp_results = false

    // annotations
    annot_suffix = 'annotation'
    annot_legend_path = null
    integer_annot = null // integer annotations path to calculate IoU score for each run in Grid mode

    // metrics
    all_pairs_csv = 'all_pairs_jacc.csv'
    pairs_max_csv = 'pairs_max_jacc.csv'

    mask = null
    background_color = null // TODO: explicitly use separate parameters for different modes (Otsu and Provided mask)
    debug_flag = true
    outdir = "${System.getProperty("user.dir")}/outdir"

    args_tsv = null
    args = [:]
    constargs = [:]

    plots_backend = 'matplotlib'
}

process {
    withName: fastlbp {
        maxForks = Math.max("${Runtime.runtime.availableProcessors()}".toInteger().intdiv(params.ncpus), 1)
    }
}

profiles {
    conda {
        conda.enabled = true
        process.conda = "${projectDir}/envs/environment.yaml"
    }
    mamba {
        conda.enabled = true
        conda.useMamba = true
        process.conda = "${projectDir}/envs/environment.yaml"
    }
}