params {
    imgs_dir = null
    img_path = null
    imgs_and_masks_tsv = null
    annot_suffix = 'annotation'

    mask = null
    background_color = null
    outdir = "${System.getProperty("user.dir")}/outdir"

    args_tsv = null
    args = [:]
    constargs = [:]
}


profiles {
    conda {
        conda.enabled = true
        process.conda = "${projectDir}/envs/environment.yaml"
    }
    mamba {
        conda.enabled = true
        conda.useMamba = true
        process.conda = "${projectDir}/envs/environment.yaml"
    }
}